<div class="container">

    <br><br>
    <div>
        <h3><u> My Routes </u></h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Source</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% sno = 1 %>
                <% @routes.each do |route| %>
                    <tr>
                        <th scope="row"><%= sno %></th> <% sno = sno + 1 %>
                        <td><%= route["source"]  %></td>
                        <td><%= route["destination"]  %></td>
                        <td><%= link_to "Edit Route", edit_route_path(route["id"]), :class => "btn btn-primary" %></td>
                        <td><%= button_to "Delete Route", Route.find(route["id"]), :class => "btn btn-danger", method: :delete %></td>
                    </tr>
                <% end %>
             </tbody>
        </table>
    </div>
</div>
