<div class="container">

    <br><br>
    <div>
        <h3><u> My Routes </u></h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Source</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% sno = 1 %>
                <% @routes.each do |route| %>
                    <tr>
                        <th scope="row"><%= sno %></th> <% sno = sno + 1 %>
                        <td><%= route["source"]  %></td>
                        <td><%= route["destination"]  %></td>
                        <td><%= link_to "Edit Route", edit_route_path(route["id"]), :class => "btn btn-primary" %></td>
                        <td><%= button_to "Delete Route", Route.find(route["id"]), :class => "btn btn-danger", method: :delete %></td>
                    </tr>
                <% end %>
             </tbody>
        </table>
    </div>

    <div>
        <h3><u> Available Bookings </u></h3><br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer Mail</th>
                    <th scope="col">Source</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Date Of Journey</th>                    
                    <th scope="col">Booked Date</th>
                </tr>
            </thead>
            <tbody>
                <% sno = 1 %>
                <% @bookings.each do |booking| %>
                    <tr>
                        <th scope="row"><%= sno %></th> <% sno = sno + 1 %>
                        <td><%= Customer.find(booking["customer_id"]).email  %></td>
                        <td><%= Route.find(booking["route_id"]).source  %></td>
                        <td><%= Route.find(booking["route_id"]).destination  %></td>
                        <td><%= booking["date_of_journey"]  %></td>
                        <td><%= booking["created_at"] %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
